* {
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
}

section {
    display: flex;
    justify-content: space-around;
}

body{
    background-color: aqua;
}

h1, h2{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

header{
    background-color: white;
}

a{
    font-size: 1.5em;
    margin: 0 0 50px 50px;
    padding: 25px 25px 50px 50px;
}

ul, ol{
    color: green;
    text-align: center;
}

.photo-1{
    width: 300px;
    height: 10%;
    border-radius: 1em;
    border: 5px solid red;
}